
* {margin: 0; padding: 0; border: 0;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Montserrat';
    text-align: center;
    color: #101010;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3, h4 {
    font-family: 'Ubuntu';
}

p {
    font-size: 16px;
}

.container-fluid {
    padding: 7% 15%;
}

/* NAV BAR */
.navbar-dark .navbar-nav .nav-link {
    color: white!important;
}
h2 {
    font-size: 3rem;
}

/* NAVIGATION */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2rem!important;
}
.navbar-nav {
    text-align: left;
}
.brand-name{
    font-size: 1.5rem;
    font-weight: bolder;
    border-width: 4px;
    border-color: #D9DD6B;
    border-style: dotted solid;
    border-radius: 100%;
    padding: 5px 20px;
}
.fixed-top {
    background: #f9f8fa;
    box-shadow: 0px -17px 39px 0px rgb(0 0 0 / 20%);
    padding: 25px 35px;
}

/* season button */


/* TITLE SECTION */
#title {
    transition: background 1s ease;
}
#title.winter-background {
    width: auto;
    min-height: 100vh;
    background-image: url("img/qumTnO22.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}
#title.summer-background {
    width: auto;
    min-height: 100vh;
    background-image: url("img/summer2.jpg")!important;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}
#title .container-fluid {
    padding-top: 2%;
}
#title .btn {
    font-size: .8rem;
}


/* HOMEPAGE BANNER */
.main-banner {
    color: #101010;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    position: relative;
    padding: 80px;
}

.main-banner h1 {
    font-family: 'Special Elite';
    font-size: 5rem;
}
.main-banner h1 span {
    color: #D9DD6B;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5d7678;

}

lottie-player {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 600px!important;
    height: auto!important;
}

.download-cv-button {
    padding: 15px 20px;
    font-size: 16px;
    color: #101010;
    border: 1px solid black;
    border-radius: 30px;
    transition: all .2s ease-in-out;
}
a.download-cv-button:after {
    content: "\f56d";
    font-family: fontawesome;
    padding-left: 10px;
}
a.download-cv-button:hover {
    text-decoration: none;
    background: rgb(157, 157, 157);
    color:  rgb(246, 246, 246);
    border-color: rgb(157, 157, 157);
}
.banner-slider {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* start typing */
.container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.loader {
    position: relative;
}
.loader:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 36px;
    background-color: #101010;
    animation: blinkCursor 0.8s steps(3) infinite;
}
@keyframes blinkCursor {
    0%, 75% {
        opacity: 1;
    }
    76%, 100% {
        opacity: 0;
    }
}
.loader h2 {
    position: relative;
    color: #101010;
    letter-spacing: 5px;
    font-size: 30px;
    text-transform: uppercase;
    animation: typing 6s steps(15) infinite;
    overflow: hidden;
    white-space: nowrap; 
}
@keyframes typing {
    0%,90%,100%{
        width: 0;
    }
    30%,60% {
        width: 340.17px;
    }
}
/* end typing */


#portfolio-content {
    background-color: #f9f8fa;
}
#portfolio-content.summer-background-color {
    background-color: #e7eeae!important;
}

/* ABOUT SECTION */

#about {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DEVIDER */
.divider-for-summer {
    display: none;
}
/* start Devider for winter */
.custom-shape-divider-top-1652869084 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1652869084 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

.custom-shape-divider-top-1652869084 .shape-fill {
    fill: #FEFEFE;
}
/* end Devider for winter */

/* start Devider for summer */
.custom-shape-divider-top-1653019842 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1653019842 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.custom-shape-divider-top-1653019842 .shape-fill {
    fill: #6E955C;
}
/* end Devider for summer */


.my-image {
    width: 500px;
    border-radius: 100%;
}
.my-image:hover {
    animation: imageEffectHover .5s ease-out;
}
@keyframes imageEffectHover {
    0% {
        border-radius: 90% 80% 90%;
    }
    25% {
        border-radius: 80% 90% 80%;
    }
    50% {
        border-radius: 90% 80% 90%;
    }
    75% {
        border-radius: 80% 90% 80%;
    }
    100% {
        border-radius: 100%;   
    }
}

.about-me {
    display: flex;
}
.about-me .image-about-us-container {
    width: 40%;
}
.about-me .about-us-text {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #101010!important;
}
.navbar-dark .navbar-brand {
    color: #101010!important;
}
.about-me p {
    margin-top: 30px; 
    text-align: left;
} 

/* Specialties */
#specialties {
    position: relative;
}
i {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
}
.specialties-container i:before, .specialties-container img {
    font-size: 80px;
    height: 80px;
}
#specialties  h4 {
    text-align: center;
}
.specialties-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.specialties-main-container {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Skill first section*/
#skills-first {
}
#skills-first h2{
    margin-bottom: 2rem;
}
#skills-first img{
    float: left;
}
.skills1 {
    width: 100%;
}
.skills1 h2 {
    margin-top: 25px;
}
.all-skills {

    align-items: center;
}
.all-skills p, h4 {
    text-align: left;
}
.all-skills img {
    width: 6rem;
    height: 6rem;
    margin: 1.3rem;
    margin-top: 0;
}
.skills1 .all-skills {
    padding-top: 25px;
}

.skills2 h2 {
    margin-top: 25px;
}
.skills2 h4 {
    text-align: center;
}

#skills-second h2{
    margin-bottom: 2rem;
}

#emial-button {
    width: 1.5rem;
    height: auto;
    filter: invert(1);
}

section#contact {
}
/* showflakes effect */
.snow-flakes img {
    width: 50px;
    animation: snowflakes 5s linear infinite;
}
.snow-flakes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    top: -70px;
}
@keyframes snowflakes {
    0% {
        transform: translateY(0vh);
    }
    50% {

        opacity: 1;
    }
    80% {

        opacity: .8;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}
.snow-flakes img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.snow-flakes img:nth-child(2){
    animation-delay: 1s;
}
.snow-flakes img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
    display: none;
}
.snow-flakes img:nth-child(4){
    animation-delay: 4.5s;
    display: none;
}
.snow-flakes img:nth-child(5){
    animation-delay: 3s;
}
.snow-flakes img:nth-child(6){
    animation-delay: 4s;
    width: 20px;
}
.snow-flakes img:nth-child(7){
    animation-delay: 2s;
    width: 35px;
}
.snow-flakes img:nth-child(8){
    animation-delay: 2s;
    width: 10px;
}
.snow-flakes img:nth-child(9){
    animation-delay: 2s;
    width: 20px;
}

/* bubbles effect */
.bubbles img {
    width: 50px!important;
    animation: bubble 5s linear infinite;
}
.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {

        opacity: .8;
    }
    70% {

        opacity: .5;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
    display: none;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
    display: none;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}


.footer {
    padding: 20px;
    
    background-size: cover;

}
.footer i {
    width: 2rem;
    margin: 1.3rem;
    transition: transform .3s;
}
.footer i:hover {
    transform: scale(1.5);
    cursor: pointer;
}

/* text animation */
#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}


#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}
@media only screen and (max-width: 980px) {
    .main-banner {
        align-items: center;
    }
    .about-me > div {
        width: 100%!important;
    }
}
@media only screen and (max-width: 600px) {

    p {
        font-size: 14px;
    }
    h4 {
        font-size: 18px;
    }
    h2 {
        font-size: 22px;
    }
    .front-message h3 {
        font-size: 23px;
    }
    .front-message h1 {
        font-size: 60px;
    }
    .front-message .btn {
        margin-top: 50px;
    }
    .container-fluid {
        padding: 50px;
        padding-top: 0;
    }
    .front-message {
        padding: 50% 30px;
    }
    .about-me {
      height: 100vh;
      padding-top: 25%;

      padding-bottom: 50%;
    }

    .skills1 .container-fluid {
        height: 100vh;
        padding-top: 100px; 
    }
    .skills2{
        padding-top: 10%;
    }
    .skills1 {
        padding-top: 10%;
    }
    .emial {
        padding-top: 10%  
    }
   
    .all-skills {
        padding: 0;
    }
    .skills1 .all-skills {
        padding: 0;
    }

    #skills-first{
        position: relative;
        text-align: center;
    
    }
    #skills-first h2 {
        margin-bottom: 5rem;
    }
    .all-skills img {
        width: 4rem;
        height: 4rem;
        margin: 1.3rem;
    }
    #skills-first .all-skills {
        padding-bottom: 10%;
    }
    #skills-second .all-skills {
        padding: 10%;
    }

    .footer i {
        width: 1rem;
        margin: 1.3rem;
    }
}

/* button toggle */
.display-none {
    display: none!important;
}
.display-block {
    display: block!important;
}


/* leaves effect */
#leaves {
    position:relative;
    top:0px;
    width: 50%;
    text-align:right;
    display:none;
}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 150px;
    background: linear-gradient(to bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }

#leaves i:before {
  position: absolute;
  content: '';
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  background: linear-gradient(to right, rgba(0,100,0,1), #005600);
  z-index: 1;
}

#leaves i:after {
  content: '';
  height: 125px;
  width: 10px;
  background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius:50%;
}


#leaves i:nth-of-type(n)    { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
#leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
#leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

#leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

#leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #309900, #005600); }
#leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #5e9900, #2b5600); }
#leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #990, #564500); }

#leaves i:nth-of-type(n)    { opacity: .7;}
#leaves i:nth-of-type(3n+1)  { opacity: .5;}
#leaves i:nth-of-type(3n+2)  { opacity: .3;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {
    
    0% {
        -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-350px,700px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(-20deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-230px,640px,0)
            rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(90deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
        opacity: 0;
    }
}

/* pulse button change season */
.pulse-button {
    text-align: center;
    white-space: nowrap;
    display: block;
    padding: 10px 20px;
    box-shadow: 0 0 0 0 rgba(217, 221, 107, 0.7);
    border-radius: 20px;
    background-color: #fff;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-size: 18px;
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    color: #101010;
    transition: all 300ms ease-in-out;
  }
  
  
  /* Comment-out to have the button continue to pulse on mouseover */
  
  .pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    color: #101010;
    background-color: rgb(217, 221, 107);
    cursor: pointer;
  }
  
  
  /* Animation */
  
  @-webkit-keyframes pulsing {
    to {
      box-shadow: 0 0 0 20px rgba(217, 221, 107, 0);
    }
  }
  
  @-moz-keyframes pulsing {
    to {
      box-shadow: 0 0 0 20px rgba(217, 221, 107, 0);
    }
  }
  
  @-ms-keyframes pulsing {
    to {
      box-shadow: 0 0 0 20px rgba(217, 221, 107, 0);
    }
  }
  
  @keyframes pulsing {
    to {
      box-shadow: 0 0 0 20px rgba(217, 221, 107, 0);
    }
  }
  