
* {margin: 0; padding: 0; border: 0;
}

body {
    font-family: 'Montserrat';
    text-align: center;
    color: #101010;
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    font-family: 'Ubuntu';
}

p {
    font-size: 16px;
}

.container-fluid {
    padding: 7% 15%;
}

/* NAV BAR */
.navbar-dark .navbar-nav .nav-link {
    color: white!important;
}
h2 {
    font-size: 3rem;
}

/* NAVIGATION */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.navbar-nav {
    text-align: left;
}
.brand-name{
    font-size: 1.5rem;
    font-weight: bolder;
    border-width: 4px;
    border-color: #D9DD6B;
    border-style: dotted solid;
    border-radius: 100%;
    padding: 5px 20px;
}


/* TITLE SECTION */
#title {
    width: auto;
    min-height: 100vh;
    background-image: url("img/qumTnO2.jpg");
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/gummy-coding.png'); */
    display: flex;
} 
#title .container-fluid {
    padding-top: 2%;
}
#title .btn {
    font-size: .8rem;
}


/* HOMEPAGE BANNER */
.main-banner {
    color: #101010;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    position: relative;
    padding: 80px;
}

.main-banner h1 {
    font-family: 'Special Elite';
    font-size: 5rem;
}
.main-banner h1 span {
    color: #D9DD6B;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5d7678;

}


.download-cv-button {
    padding: 15px 20px;
    font-size: 16px;
    color: #101010;
    border: 1px solid black;
    border-radius: 30px;
    transition: all .2s ease-in-out;
}
a.download-cv-button:after {
    content: "\f56d";
    font-family: fontawesome;
    padding-left: 10px;
}
a.download-cv-button:hover {
    text-decoration: none;
    background: rgb(157, 157, 157);
    color:  rgb(246, 246, 246);
    border-color: rgb(157, 157, 157);
}
.fixed-top {
    background: #9D9D9D;
}

/* start typing */
.container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.loader {
    position: relative;
}
.loader:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 36px;
    background-color: #101010;
    animation: blinkCursor 0.8s steps(3) infinite;
}
@keyframes blinkCursor {
    0%, 75% {
        opacity: 1;
    }
    76%, 100% {
        opacity: 0;
    }
}
.loader h2 {
    position: relative;
    color: #101010;
    letter-spacing: 5px;
    font-size: 30px;
    text-transform: uppercase;
    animation: typing 8s steps(15) infinite;
    overflow: hidden;
    white-space: nowrap; 
}
@keyframes typing {
    0%,90%,100%{
        width: 0;
    }
    30%,60% {
        width: 340.17px;
    }
}
/* end typing */



/* ABOUT SECTION */

#about {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/gummy-coding.png'); */
    background-color: #bfdad8;
    position: relative;
}

/* DEVIDER */

/* start Devider bottom of Main banner */
.custom-shape-divider-top-1652869084 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1652869084 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

.custom-shape-divider-top-1652869084 .shape-fill {
    fill: #FEFEFE;
}
/* end Devider bottom of Main banner */

.my-image {
    width: 500px;
    border-radius: 100%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
}
.about-me .image-about-us-container {
    width: 40%;
}
.about-me .about-us-text {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #101010;
}
.about-me p {
    margin-top: 30px; 
    text-align: left;
} 




/* Skill first section*/
#skills-first {
    background-color: #bfdad8;
}
#skills-first h2{
    margin-bottom: 2rem;
}
#skills-first img{
    float: left;
}
.skills1 {
    width: 100%;
}
.skills1 h2 {
    margin-top: 25px;
}
.all-skills {

    align-items: center;
}
.all-skills p, h4 {
    text-align: left;
}
.all-skills img {
    width: 6rem;
    height: 6rem;
    margin: 1.3rem;
    margin-top: 0;
}
.skills1 .all-skills {
    padding-top: 25px;
}

.skills2 h2 {
    margin-top: 25px;
}
.skills2 h4 {
    text-align: center;
}

#skills-second h2{
    margin-bottom: 2rem;
}



#emial-button {
    width: 1.5rem;
    height: auto;
    filter: invert(1);
}


.footer {
    padding: 20px;

}
.footer i {
    width: 2rem;
    margin: 1.3rem;
    transition: transform .3s;
}
.footer i:hover {
    transform: scale(1.5);
    cursor: pointer;
}

/* text animation */
#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}
@media only screen and (max-width: 980px) {
    .main-banner {
        align-items: center;
    }
    .about-me > div {
        width: 100%!important;
    }
}
@media only screen and (max-width: 600px) {

    p {
        font-size: 14px;
    }
    h4 {
        font-size: 18px;
    }
    h2 {
        font-size: 22px;
    }
    .front-message h3 {
        font-size: 23px;
    }
    .front-message h1 {
        font-size: 60px;
    }
    .front-message .btn {
        margin-top: 50px;
    }
    .container-fluid {
        padding: 50px;
        padding-top: 0;
    }
    .front-message {
        padding: 50% 30px;
    }
    .about-me {
      height: 100vh;
      padding-top: 25%;

      padding-bottom: 50%;
    }

    .skills1 .container-fluid {
        height: 100vh;
        padding-top: 100px; 
    }
    .skills2{
        padding-top: 10%;
    }
    .skills1 {
        padding-top: 10%;
    }
    .emial {
        padding-top: 10%  
    }
   
    .all-skills {
        padding: 0;
    }
    .skills1 .all-skills {
        padding: 0;
    }

    #skills-first{
        position: relative;
        text-align: center;
    
    }
    #skills-first h2 {
        margin-bottom: 5rem;
    }
    .all-skills img {
        width: 4rem;
        height: 4rem;
        margin: 1.3rem;
    }
    #skills-first .all-skills {
        padding-bottom: 10%;
    }
    #skills-second .all-skills {
        padding: 10%;
    }

    .footer i {
        width: 1rem;
        margin: 1.3rem;
    }
}




  