* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
hr {
    border-style: dotted;
    border-color: #423F3E ;
    border-bottom: none;
    width: 4%;
    border-width: 7px;
    margin: 0 auto ;
}

h2, h3, h4 {
    font-family: 'Ubuntu';
}

.container-fluid {
    padding: 7% 15%;
}



/* TITLE SECTION */
#title {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/dasdasdsad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    min-height: 100vh;
} 
.front-message {
    color: white;
    padding: 30% 15%;
    font-weight: bold;
}
.front-message h1 {
    font-family: 'Special Elite';
    font-size: 5rem;
}
#title .container-fluid {
    padding-top: 2%;
}
.navbar-nav {
    text-align: left;
}
.brand-name{
    font-size: 1.5rem;
    font-weight: bolder;
    border-width: 4px;
    border-color: yellow;
    border-style: dotted solid;
    border-radius: 100%;
    padding: 5px;
}

#title .btn {
    font-size: .8rem;
}

/* ABOUT SECTION */

.my-image {
    width: 200px;
    border-radius: 100%;
}
#about {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/wood-background-vertical.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: linear-gradient(#171010, #362222);


}
.about-me {
    padding: 200px 100px 200px;
    width: 100%;
    min-height: 100vh;

}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.about-me h2{
    margin-bottom: 50px;
}
.about-me p {
    margin-top: 30px;  
} 




/* MIDDLE SECTION */
#skills-first h2{
    margin-bottom: 2rem;
}
#skills-first {
    background-image: linear-gradient(#362222, #171010);
    position: relative;
}
#skills-first img{
    float: left;
}
.skills1 {
    height: 100vh;
    width: 100%;

}
.all-skills {
    padding: 50px 0 25px;
    align-items: center;
}
.all-skills p, h4 {
    text-align: left;
}
.all-skills img {
    width: 6rem;
    height: 6rem;
    margin: 1.3rem;
}


#skills-second {
    background-image: linear-gradient(#171010, #362222);
    position: relative;
}
.skills2 {
    height: 100vh;
    width: 100%;

}
.skills2 h4 {
    text-align: center;
}

#skills-second h2{
    margin-bottom: 2rem;
}
#skills-second hr {
    margin-top: 30%;
}



#contact {
    background-image: linear-gradient(#362222, #171010);
    position: relative;
}

#emial-button {
    width: 1.5rem;
    height: auto;
    filter: invert(1);
}


.footer {
    background-image: linear-gradient(#171010, #362222);
    padding: 20px;

}
.footer i {
    width: 2rem;
    margin: 1.3rem;
    transition: transform .3s;
}
.footer i:hover {
    transform: scale(1.5);
    cursor: pointer;
}


@media only screen and (max-width: 600px) {

    p {
        font-size: 13px;
    }
    h4 {
        font-size: 20px;
    }
    h2 {
        font-size: 25px;
    }

    .container-fluid {
        padding: 50px;
        padding-top: 0;
    }
    .front-message {
        padding-top: 50%;
    }
    .about-me {
      height: 100vh;
      padding-top: 50%;
      padding-bottom: 50%;
    }

    .skills1 .container-fluid {
        height: 100vh;
        padding-top: 100px; 
    }
    .skills2{
        padding-top: 10%;
    }
    .skills1 {
        padding-top: 10%;
    }
    .emial {
        padding-top: 10%  
    }
   
    .all-skills {
        padding: 0;
    }
    #skills-first{
        position: relative;
        text-align: center;
    
    }
    #skills-first h2 {
        margin-bottom: 5rem;
    }
    .all-skills img {
        width: 4rem;
        height: 4rem;
        margin: 1.3rem;
    }
    #skills-first .all-skills {
        padding-bottom: 10%;
    }
    #skills-second .all-skills {
        padding: 10%;
    }

    .footer i {
        width: 1rem;
        margin: 1.3rem;
    }
  }